// ---변수처리---

// 사이즈 정의---
// $site width
$siteWidth: 1320px;

// text size
$fontSizeSmall: 12px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;

// title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 32px;

// 색상정의---
// background color
$layoutBg: #eae9e9;
$tableBarBg: rgba(28, 145, 126, .7);
$tableBarBgHover: rgba(28, 145, 126, 1);
$tableBg: #f5f5f5;
$imgHoverBg: tomato;

// //font style
// $fontStyleBasic:;
// $fontStylePrimary:;
// $fontStylePoint:;

// font color
$fontColorBasic: #2e2e2e;
$fontColorPrimary: #2e2e2e;
$fontColorHover: tomato;

// border color
$boderColorPrimary: tomato;
$borderColor1: tomato;
$borderColorBasic: #2e2e2e;

// button color
$gbtnColor: #ededed;
$gbtnColor2: tomato;
$gbtnColorHover: tomato;
$footerBtnColor: tomato;
