// ---변수처리---

// 사이즈 정의---
// $site width
$siteWidth: 1320px;

// text size
$fontSizeSmall: 12px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;

// title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 32px;

// 색상정의---
// background color
$layoutBg: #ededed;
$tableBg: rgba(28, 145, 126, .7);
$tableBgHover: rgba(28, 145, 126, 1);
// //font style
// $fontStyleBasic:;
// $fontStylePrimary:;
// $fontStylePoint:;

// font color
$fontColorBasic: #2e2e2e;
$fontColorPrimary: #2e2e2e;
$fontColorHover: #1c917d;

// border color
$boderColorPrimary: #1c917d;
$borderColor1: #1c917d;

// button color
$gbtnColor: #ededed;
$gbtnColor2: #1c917d;
$gbtnColorHover: #1c917d;
$footerBtnColor: #1c917d;
